# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Logs
*.log

# Dataset (optional if you don't want to upload datasets)
# *.csv

# Ignore trained models
models/

# Checkpoints
checkpoints/